/*fix skinny screen*/
body {
	width: auto;
	font-family: "Montserrat";
	margin:0 auto;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	background-color: #73a121;
	padding: 15px 0px 10px 0px;
}

header h1 {
	margin:0;
}

.headtitle {
	width: 970px;
	margin: auto;
	font-family: "Oswald";
}

.logodiv {
	height:72px;
	width:70px;
	float: left;

}
.logoimage {
	height: 95%;
	margin: auto;
}

.sol {
	color: #a0ce4e;
	font-size: 24px;
	line-height: 1.5;
}

.sol-style {
	color: #5C5C5C;
}

.nav {
	width: 940px;
	height: 40px;
	margin:0 auto;
	margin-top: 25px;
}

.navwrap {
	width:860px;
	margin:0 auto;
	height:45px;
}

.navwrap a {
	text-decoration: none;
	color: #2e2e2e;
}

.navlink {
	width: 160px;
	height: 40px;
	margin:0px 5px 6px 5px;
	float: left;

}

.navlink:hover {
	color: #a0ce4e;
}

.navlink p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 100%;
}

hr {
  height: .4rem;
  width: 160px;
  margin: 5px;
  background: #a0ce4e;
  border: none;
  transition: .5s ease-in-out;
  position: relative;
  top:-10px;
}

.spacer {
	background-color: #fff;
	height:1px;
	width: 100%;
	clear: both;
}

.banner4navs {
  background-color: #e6e6e6;
  margin: 0;
}

.banner4navs-text {
	width: 960px;
	margin: auto;
}

.banner4navs-text h1{
  color:#2e2e2e;
  font-weight: normal;
  font-size: 32px;
  padding:15px;
  margin: 0;
}

.home-bannerblock {
	background-color: rgba(230,230,230,0.74);
	width: 300px;
	height:315px;
	float: left;
	margin: 10px;
}

.bannerblock {
	width: 290px;
	height:315px;
	float: left;
}

.roundwrap {
	height: 80px;
	width:290px;
}

.round {
	width:75px;
	height:75px;
	border-radius: 50%;
	background-color: #2e2e2e;
	margin: auto;
	margin-top: 30px;
}

.round:hover {
	background-color:#a0ce4e;
}

.symbol {
	height:50px;
	width: 50px;
	padding-top: 12px;
	padding-left: 2px;
	margin:auto;
}

.symbol svg {
	fill: #fff;
}

.bannertext {
	text-align: center;
	margin: 0;
}

.bannertext h1{
	font-size: 22px;
	font-weight: normal;
}

.bannertext p{
	font-size: 14px;
	padding: 15px 20px 15px 20px;
	color: #5c5c5c;
}

.main {
	width: 960px;
	margin: auto;
}

.left-side {
	width:590px;
	border-right: 1px solid #e6e6e6;
	padding: 30px 35px 40px 15px;
	float: left;
}

.leftpic1, .leftpic2, .leftpic3 {
	height: 350px;
	width:580px;
	background-size:cover;
}

.lefttext h1 {
	color: #676767;
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}

.lefttext h2, .lefttext a {
	color: #a0ce4e;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}

.lefttext a:hover {
	background-color: #5c5c5c;
}

.lefttext p, .lefttext h3, .lefttext li, .quote-form p {
	color: #5c5c5c;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
}

.lefttext h3 {
	text-align: center;
	background-color: #e6e6e6;
}

.right-side {
	width: 290px;
	float: left;
	margin-left:0;

}

.righttext {
	width: 290px;
	height:55px;
	float:left;
	margin: auto;
}

.righttext a {
	text-decoration: none;
}

.righttext p {
	font-size: 16px;
	text-align: center;
	padding:16px;
	margin:0;
}

.contact-button {
	height: 100%;
	width: 240px;
	margin: auto;
	color: #fff;
	background-color: #a0ce4e;
}

.contact-button:hover {
	background-color: #5C5C5C;
}

.quote input {
	width: 580px;
	height: 30px;
	border-radius: 5px;
	font-family: "Montserrat";
}

.input-message {
	height: 100px;
}

#input-message {
	overflow: auto;
	height: 130px
}

.quote {
	margin-left: 5px;
}

.quote button {
	margin-top: 20px;
	font-family: "Montserrat";
	padding: 5px;
	width: 75px;
	border-radius: 5px;
	color: #333333;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

footer {
	background-color: #2e2e2e;
	color: #8A8A8A;
	font-size: 14px;
	height:100px;
	clear:both;
}

.copyright {
	padding-top:40px;
	padding-left: 10px;
	width:960px;
	margin: auto;
}
